/* Enter your custom styles here */

.nameForm .sapUiFormTitleH4, .headerTitle, .pageTitle{
    color:blueviolet;
}

.prodTitle{
    background-color: bisque;
    color:darkblue;}

.sapMColumnHeader .sapMText{
    color: red;
}

.sapMIBar-CTX .sapMTitle{
    color:darkolivegreen;
}

html.sap-desktop .sapMIBar.sapMFooter-CTX{
    background-color: gold;
}

.sapMIBar .sapMBtn .sapMBtnInner.sapMBtnDefault:not(.sapMToggleBtnPressed){
    color: #781FC6;
}

.prodDialog .sapMIBar.sapMHeader-CTX{
    background-color: cornsilk;
}

.prodDialog.sapMDialog>header .sapMDialogTitleGroup .sapMTitle{
    color: cornflowerblue;
}